@*NTBinh 14/01/2026*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Đặt hàng thành công";
}

<div class="section">
    <div class="container text-center" style="padding: 100px 0;">

        <i class="fa fa-check-circle" style="font-size: 80px; color: #4CAF50; margin-bottom: 20px;"></i>

        <h2 class="title" style="color: #D10024; font-weight: bold; text-transform: uppercase;">
            ĐẶT HÀNG THÀNH CÔNG!
        </h2>

        <p style="font-size: 18px; margin: 20px 0; color: #333;">
            Cảm ơn bạn đã tin tưởng mua hàng tại PhoneStore.<br>
            Đơn hàng của bạn đang được hệ thống xử lý và sẽ giao đi sớm nhất.
        </p>

        <div style="margin-top: 30px;">
            <a href="/" class="primary-btn" style="padding: 12px 30px; border-radius: 40px;">
                <i class="fa fa-arrow-left"></i> TIẾP TỤC MUA SẮM
            </a>
        </div>
    </div>
</div>